/Taller11/nbproject/private/
/Problematica1/nbproject/private/
/Problematica1/build/
/Problematica1/dist/
/Problematica2/nbproject/private/
/Problematica2/build/
/Problematica2/dist/
/Taller10/nbproject/private/
